*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  text-align: center;
  background-color: lightgrey;
}

#main{
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: auto;
  align-items: center;
}
#heading{
  padding: 10px;
  width: 100%;
  color: white;
  background-color: slategray;
}
#main p{
  padding: 10px;
  border-bottom: 2px solid slategray;
}
form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

label{
  font-size: 30px;
  font-weight: bold;
  color: slategrey;
  padding: 10px 0;
}

#guessInput{
  font-size: 25px;
  padding: 5px;
  text-align: center;
  width: 90%;
}

#submitButton{
  width: 100px;
  font-size: 25px;
  padding: 5px;
  color: whitesmoke;
  background-color: darkslategray;
  border-radius: 10px;
}

#report{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-size: 20px;
}
#displayArea{
  display: flex;
  flex-direction: column;
  align-items: center;
}

